html, body,h1{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

.coluna1{

    float:left;
    width:40%;
    margin-bottom:25px;
    text-align: justify;
}
.coluna1:first-child{
    margin-left:6%;
    margin-right: 11%;
}
main{
    width:80%;
    margin:auto;
}
h1{
    font-size: 40px;
   
}
.row{
    width: 100%;
}
.col-1 img{
    margin:auto;
    display:inline-block;
    width: 100%;
}
h2{
    clear: both;
    text-align: center;
    text-transform: uppercase;
    font-family:Open Sans;
    font-size:25px;
    border-bottom: 2px solid red;
    width:20%;
    margin: 20px 0 40px 42%;
    padding-top:10px;
   
}
h3{
    text-align: center;
    text-transform: uppercase;
    font-family:Open Sans;
    font-size:20px;
    border-bottom: 2px solid red;
    width:20%;
    margin-left:42%;
    margin-bottom:30px;
}

a{
    color:rgb(250, 0, 0); 
}
a:visited{
    color:rgb(250, 0, 0);
}
a:hover{
    transition: all .5s linear;
    color:rgb(92, 24, 24);
    border-bottom:1px solid rgb(92, 24, 24);
    
}
.portifolio a{
        display: inline-block;
        position: relative;
}
.portifolio a:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    margin:auto;
    background-color: transparent;
}
.portifolio a:hover:before{
    background-color: rgba(65, 65, 65, 0.384);
    transition: all .3s linear;
}
.portifolio a::after{
    content: '';
    opacity: 0;
   
}
.portifolio a:hover::after{
    content: 'Veja mais';
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:10px;
    border: 3px solid white;
    background-color: rgba(204, 204, 204, 0.24);
    color:white;
    opacity: 1;
    transition: all .3s linear;
}

.portifolio a:hover{
    border: none;
   
}
.address-ul{
    margin-top:30px;
   margin-left:25%;
}
li{
    margin:0;
    padding:0;
    display: inline-block;
    font-size: 30px;
    color:rgb(255, 0, 0);
}

.address-ul li:nth-child(2){
    margin:0 15px 0 15px;
}

header{
    height: 350px;
}
header img{
    float:left;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    margin-left:15%;
}
header .header-alinhamento{
    float: left;
    margin:7% 0 0 5%;
}
header p{
    font-size: 20px;
    border-bottom:2px solid red;
}
main p{
    text-align: justify;
}
.section-competencias{
    box-sizing: border-box;
    position: relative;
    margin:40px 0 40px;
    padding: 0;
    background-color:#FFF5EE;
    overflow: auto;
}
main .main-informacoes{
    margin:10px 0 25px 0;
    text-align: center;
}


.lista-caracteristicas li{
    box-sizing: border-box;
    color:black;
    font-size: 18px;
    display:block;
    padding:10px;
}
.icon-cor{
    color:rgb(145, 0, 0);
}


.portifolio{
    clear: both;
    background-color: #FFF5EE;
}
.portifolio .instrucao{
    font-size: 15px;
    text-align: center;
}
.portifolio .col-1{
    margin:auto;
    width: 90%;
    
}
.portifolio .explicacao-projeto{
    color:rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    border-top:2px solid red;
    border-bottom:2px solid red;
    width:40%;
    padding:10px;
    margin: 35px auto;
}

.portifolio .explicacao-projeto:hover{
    transition: all .5s linear;
color:white;
background-color: rgb(15, 17, 31);
border: 2px solid white;
}